<div class="row">
  <div class="card blue-grey darken-3">
    <div class="card-content white-text">
      <span class="card-title">All groups</span>
      <div class="collection z-depth-1 buckets-list-wrapper">
        <a *ngFor="let group of groups" class="collection-item blue-grey darken-3" (click)="showBucketsOfGroup(group)">
          {{group.name}}
          <a (click)="deleteGroup(group, $event)" class="secondary-content red-text text-lighten-1"><i class="material-icons">delete</i></a>
        </a>
      </div>
    </div>
  </div>
</div>